
    <div layout="row" layout-xs="column" layout-align="center center" style="background-color: #3eb0f6; color:white;">
        <fototexto
            foto="true"
            fotovar="img/comoayudar/dona-foto.png"
            bloque="true"
            titulo="true"
            titulovar="DESNUTRICI&Oacute;N, FRIO, DESIGUALDAD "
            texto="true"
            textovar="La desnutrici&oacute;n infantil, la educaci&oacute;n, el frio y los hombres de la calle, la desigualdad de recursos, las navidades en soledad.
Son solo algunos de los problemas que d&iacute;a a d&iacute;a afrontan miles de Argentinos.
Ayudando a desde tu lugar, le estas dando la posibilidad a miles de personas a cambiar su realidad.
Don&aacute; con tu tarjeta de cr&eacute;dito y se parte del nuevo paradigma solidario."
            boton="true"
            botonlink="https://www.mercadopago.com/mla/debits/new?preapproval_plan_id=e1db170f1a374c53ab3e8367aa702613"
            botontexto="DON&Aacute;"
            >
        </fototexto>

        <fototexto
            foto="true"
            fotovar='img/comoayudar/sumate-foto.png'
            bloque="true"
            titulo="true"
            titulovar="SUM&Aacute;TE A UN PROYECTO"
            texto="true"
            textovar="Relevamos instituciones, priorizamos necesidades y hacemos proyectos concretos, medibles y cuantificables. La medici&oacute;n de los resultados nos permite reevaluar los procesos y llevarlos a una mejora constante.

Los proyectos son muy variados, dependiendo de las necesidades concretas de cada lugar: Desde una plaza para ni&ntilde;os con desnutrici&oacute;n en Gualeguaych&uacute;, Entre R&iacute;os, hasta 700 mochilas anti fr&iacute;o para gente en situaci&oacute;n de calle.
"
            boton="true"
            botonlink="https://www.desdetulugar.org.ar/tulugar"
            botontexto="SUM&Aacute;TE"
            >
        </fototexto>
    </div>
    <div style="background-color:#29ccb4; padding: 5px;">
        
        <slider 
            tipo="texto"
            texto="{{ctrl.textoayudar}}"
            >

        </slider>
        
    </div>    


