<md-content flex layout-padding style="background-color: white;">
    
    <div layout="column" layout-align="center center" style="color:white;
                                                    background-color: #bc78cd;
                                                    width: 100%;
                                                    height: auto;
                                                    border-radius:5px;
                                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
        <div style="text-align: center;">
            <span style="font-size: 1.5em;">EDUCACI&Oacute;N EN SOLIDARIDAD</span><br/>
            <span style="font-size: 2.5em;">CHARLAS Y TALLERES</span>
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-align="center center" style="background-color: #E7E7E7;">
        <div style="width: 100%; padding:4%;" layout="row" layout-align="center center">
            <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/XKxkpNBJ6kI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div style="width: 100%; padding:4%;" layout="row" layout-align="center center">
            <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/guz0L3Z6uR0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>  
    <div layout="row" layout-xs="column" layout-align="space-around center" style="background-color: #E7E7E7;">
        <div flex="45" flex-xs="50">
            <img style="width: 100%; height: auto; padding: 2px;" src="img/charlas/Como_educar_a_tus_hijos_en_la_empatia_y_la_solidaridad.jpg" alt="como educar a tus hijos en la empatía y la solidaridad" tittle="como educar a tus hijos en la empatía y la solidaridad"/>
        </div>
        <div flex="45" flex-xs="50">
            <img style="width: 100%; height: auto; padding: 2px;" src="img/charlas/Como_encontrar_mi_lugar_transformador.jpg" alt="Como encontrar mi lugar transformador" tittle="Como encontrar mi lugar transformador"/>
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-align="space-around center" style="background-color: #E7E7E7;">
        <div flex="30" flex-xs="60">
            <img style="width: 100%; height: auto; padding: 2px;" src="img/charlas/marian-kexel-desde-tu-lugar.png" alt="Marian kexel directora y fundadora de desde tu lugar" tittle="Marian kexel directora y fundadora de desde tu lugar"/>
        </div>
        <div flex="60" flex-xs="85" style="background-color: #E7E7E7;">
            <ul style="background-color: #E7E7E7;margin-bottom: 3%; margin-top: 3%;">
                <li>&#9679; Estudi&oacute; Magisterio y gesti&oacute;n educativa ejerciendo durante m&aacute;s de 15 a&ntilde;os.</li>
                <li>&#9679; Durante 5 a&ntilde;os trabaj&oacute; como docente en la escuela MADRE TERESA en el barrio SAN JORGE, VIRREYES.</li>
                <li>&#9679; En el 2013 funda la organizaci&oacute;n DESDE TU LUGAR, la cual dirige desde entonces.</li>
                <li>&#9679; Junto a la organizaci&oacute;n cumpli&oacute; m&aacute;s de 190 proyectos sociales de impacto ayudando a m&aacute;s de 28.000 personas.</li>
                <li>&#9679; Fue oradora en CONEXI&Oacute;N PORVOCACI&Oacute;N en PASEO LA PLAZA.</li>
                <li>&#9679; Fue oradora en el CIERRE DE IDEA JOVEN 2017.</li>
                <li>&#9679; Fue organizadora y oradora en el encuentro desde tu lugar, un nuevo paradigma solidario, en la universidad de SAN ANDR&Eacute;S</li>
                <li>&#9679; En el a&ntilde;o 2015, organiz&oacute; la "Experiencia DTL", en la cual reuni&oacute; a 40 chicos entre 6 y 12 a&ntilde;os para que realicen un proyecto social</li>
                
            </ul>
        </div>
    </div>
       
    
    
 <!--   <bannereducacion></bannereducacion>-->
</md-content>
    

