
<md-content flex layout-padding style="background-color: white;">
    <div>
        <img src="img/educacion/educacion.png" atl="desdetulugar educacion" title="desdetulugar educacion" style="width: 100%; height: auto;"/>
    </div>
    <div layout="column" style="color:white; background-color: #bc78cd; width: 100%; height: auto;">
        <div style="margin-left: 100px;">De que se trata la</div>
        <div style="margin-left: 100px;"><h2>EDUCACI&Oacute;N EN SOLIDARIDAD</h2></div>
        <div style="margin-left: 100px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
    </div>
    <div layout="row" layout-xs="column" layout-align="center center">
        <div style="background-color: white; width: 100%; padding:4%;" layout="row" layout-align="center center">
            <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/XKxkpNBJ6kI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div style="background-color: white; width: 100%; padding:4%;" layout="row" layout-align="center center">
            <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/guz0L3Z6uR0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>    
    
   <bannereducacion></bannereducacion>
</md-content>