
<md-content flex layout-padding style="background-color: white;">
    <div style="background-color: white; width: 100%; padding:4%;" layout="row" layout-align="center center">
        <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/NaysZuqFy1Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div style="color:#606060;">
        <h4 class="md-title">
        DTL colabora con las compa&ntilde;&iacute;as para lograr impactar positivamente en la sociedad.<br/>
        Resolvemos las preguntas: &iquest;Qu&eacute; hacer? y &iquest;D&oacute;nde invertir el capital?<br/>
        Encausamos el enorme potencial que tienen las empresas, con proyectos de impacto<br/>
        concretos para que juntos, cambiemos la realidad que los rodea.<br/>
        </h4>
    </div>
    <bannerempresas></bannerempresas>
    
</md-content>