<div>
    <img src="img/impacto/slider.png" atl="desdetulugar impacto" title="desdetulugar impacto" style="width: 100%; height: auto;"/>
</div>
<div style="background-color: #3eb0f6; color:white;padding-top:2%;padding-left:2%;">
    Los n&uacute;meros de <br/><b>NUESTRO IMPACTO</b>
    
 </div>   
<div layout="row" layout-xs="column" layout-align="center center" style="background-color: #3eb0f6; color:white;">
    <bloque
        h3arriba = 'true'
        h3abajo = 'true'
        textoabajo='false'
        image ='true'
        tituloarribafoto ="PROYECTOS:"
        foto='img/impacto/num1.png'
        tituloabajofoto="207" 
        style="background-color: #3eb0f6; color:white; padding:2%;">
            
    </bloque>
    <bloque
        h3arriba = 'true'
        h3abajo = 'true'
        textoabajo='false'
        image ='true'
        tituloarribafoto ="AYUDAMOS A:"
        foto='img/impacto/num2.png'
        tituloabajofoto="32.561 personas" 
        style="background-color: #3eb0f6; color:white;padding:2%;">
            
    </bloque>
    <bloque
        h3arriba = 'true'
        h3abajo = 'true'
        textoabajo='false'
        image ='true'
        tituloarribafoto ="NOS AYUDARON:"
        foto='img/impacto/num3.png'
        tituloabajofoto="23.517 personas" 
        style="background-color: #3eb0f6; color:white;padding:2%;">
            
    </bloque>
  <!--  <bloque
        h3arriba = 'false'
        h3abajo = 'true'
        textoabajo='false'
        image ='true'
        
        foto='img/impacto/num4.png'
        tituloabajofoto="Lorem Ipsum dolor" 
        style="background-color: #3eb0f6; color:white;padding:2%;">
            
    </bloque>-->    
</div>

