<style>
.container {
    position: relative;
    max-width:90%;
    margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 90%;
    padding: 20px;
    text-align: center;
}
</style>
  


<div style="background: url(img/home/fotos/desde-tu-lugar-27b.png); background-size: cover; width: 100%; padding:4%;" layout="row" layout-align="center center">
    <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/DVPxKfHc-88" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div layout="row" layout-align="center center">
    <bloque 
        h3arriba = 'false'
        h3abajo = 'true'
        textoabajo='true'
        image ='false'
        
        texto="Desde Tu Lugar es una una asociaci&oacute;n civil sin fines de lucro, que naci&oacute; hace cuatro a&ntilde;os rompiendo con el paradigma de la acci&oacute;n solidaria tradicional y revolucionando el escenario social en la Argentina. Todos queremos ser solidarios y podemos dar desde nuestro lugar, sin hero&iacute;smos ni esfuerzos sobrehumanos. Con esta filosof&iacute;a cumplimos m&aacute;s de 190 proyectos, mediante el compromiso de m&aacute;s de 22.000 voluntarios llegando a m&aacute;s de 28.800 personas, transform&aacute;ndoles su realidad." 
        tituloabajofoto="&iquest;QU&Eacute; ES DESDE TU LUGAR?" 
        style="background-color: #f76293; color:white; width: 50%;">
            
    </bloque>
    <bloque
        h3arriba =' false'
        h3abajo =' true'
        textoAbajo='true'
        image ='false'
        
        texto="Por proyectos concretos, relevando necesidades prioritarias y generando un impacto real mediante el compromiso de personas, empresas, bandas, colegios, etc. Que se van sumando, cada uno, Desde su Lugar. Los proyectos son muy variados porque dependen de las necesidades concretas de cada lugar: Desde una plaza para ni&ntilde;os con desnutrici&oacute;n en Gualeguaych&uacute; Entre R&iacute;os, hasta 700 mochilas antifrio para gente en situaci&oacute;n de calle." 
        tituloAbajoFoto="&iquest;C&Oacute;MO TRABAJAMOS?" 
        style="background-color: #29ccb4; color:white; width: 50%;">
            
    </bloque>
</div>
<!--<div layout="row" layout-align="center center">
    <banner 
        titulo="Generamos nuevos paradigmas de acci&oacute;n que permiten TRANSFORMAR EL MUNDO en el que vivimos" 
        style="background-color: #bc78cd; color:white; width: 100%;">
            
    </banner>
</div>-->
   <!-- <div>
        <img src="img/home/fotos/desde-tu-lugar-35.jpg" title="desde tu lugar" alt="desde tu lugar" style="width:90%; display: block;margin-left: auto;margin-right: auto;"/>
    </div>-->
<div layout="row" layout-xs="column" layout-align="center center" style="background-color: #3eb0f6; color:white;">
    <div class="container">
        <img src="img/home/fotos/desde-tu-lugar-35a.jpg" alt="desde tu lugar">
        <div class="content">
          <h1>Generamos nuevos paradigmas de acci&oacute;n que permiten TRANSFORMAR EL MUNDO en el que vivimos</h1>
        </div>
    </div>
</div>

<!--<div layout="row" layout-align="center center">
    <div class="container">
        <img src="img/personas/marian-kexel-desde-tu-lugar.jpg" alt="marian-kexel-desde-tu-lugar" class="image" title="marian-kexel-desde-tu-lugar">
            <div class="overlay">
                <div class="text">Marian Kexel. <br/> Presidenta y fundadora</div>
            </div>
    </div>
 <!--   <div class="container">
        <img src="img/personas/marian-kexel-desde-tu-lugar.jpg" alt="marian-kexel-desde-tu-lugar" class="image" title="marian-kexel-desde-tu-lugar">
            <div class="overlay">
                <div class="text">P&iacute;a Tatay.</div>
            </div>
    </div>-->
   <!-- <div class="container">
        <img src="img/personas/rafael-defelice-desde-tu-lugar.jpg" alt="rafael-defelice-desde-tu-lugar" class="image" title="rafael-defelice-desde-tu-lugar">
            <div class="overlay">
                <div class="text">Rafa Defelice.<br/> Tecnolog&iacute;a </div>
            </div>
    </div>
</div>-->
