
<md-content flex layout-padding style="background-color: white;">
    <div>
        <img src="img/instituciones/instituciones.png" atl="desdetulugar instituciones" title="desdetulugar instituciones" style="width: 100%; height: auto;"/>
    </div>
    
     
    <div layout="column" layout-align="center center">
        <div style="background-color: #BB78CC; color:white; text-align: center; width: 100%; height: auto;">
            <h1>INSCRIB&Iacute; TU INSTITUCI&oacute;N</h1>
            <h2>&iquest;Lider&aacute;s, trabaj&aacute;s o conoc&eacute;s una instituci&oacute;n que necesita una mano? 
                <br/>Inscribila en desde tu lugar, as&iacute; podemos contactarnos.</h2>
            <md-button ng-href="#/instituciones" class="" style="background-color: #BB78CC; color:white;font-size:20px;">INSCRIPCI&Oacute;N</md-button>
        </div>
     </div>
    
    
    
    <div style="background-color: #f7cd4a; color:white; width:100%; text-align: center;" layout="row" layout-align="center center">
        <div style="font-size:1.5em;">Carg&aacute; tus datos y empez&aacute; a formar parte de<br/>
            <b style="font-weight: bold;">nuestra red de contactos</b>
        </div>
    </div>
</md-content>