<md-content flex layout-padding style="background-color: white;">
    
    <div layout="column" layout-align="center center" style="color:white; background-color: #bc78cd; width: 100%; height: auto;">
        <div style="text-align: center;">
            <span style="font-size: 1.5em;">EDUCACI&Oacute;N EN SOLIDARIDAD</span><br/>
            <span style="font-size: 2.5em;">PROGRAMA INTEGRAL</span>
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-align="center center" style="background-color: #F76293; color: white; margin-top: 10px; ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>    
    
    <bannereducacion></bannereducacion>
</md-content>
    

