<md-content flex layout-padding style="background-color: white;">
    <div>
        <img src="img/empresas/externos/externos.png" atl="desdetulugar empresas proyectos externos llave en mano" title="desdetulugar empresas proyectos externos llave en mano" style="width: 100%; height: auto;"/>
    </div>
    <div layout="column" layout-align="center center" style="color:white; background-color: #bc78cd; width: 100%; height: auto;">
        <div style="text-align: center;">
            <span style="font-size: 1.5em;">RESPONSABILIDAD SOCIAL</span><br/>
            <span style="font-size: 2.5em;">AFUERA DE LA EMPRESA</span>
        </div>
    </div>
    
    <div layout="row" layout-xs="column" layout-align="center center">
        <div style="background-color: white; width: 100%; padding:4%;" layout="row" layout-align="center center">
            <img src="img/empresas/externos/llavenmano.png" atl="desdetulugar empresas proyectos externos" title="desdetulugar empresas proyectos externos" style="width: 100%; height: auto;"/>
        </div>
        <div style="background-color: white; width: 100%; padding:4%;" layout="row" layout-align="center center">
            <iframe width="560" height="315" ng-src="https://www.youtube.com/embed/NaysZuqFy1Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>    
    <div style="color:#606060;">
        <h4 class="md-title">
            DTL colabora con las compa&ntilde;&iacute;as para lograr impactar positivamente en la sociedad.<br/>
        Resolvemos las preguntas: &iquest;Qu&eacute; hacer? y &iquest;D&oacute;nde invertir el capital?<br/>
        Encausamos el enorme potencial que tienen las empresas, con proyectos de impacto<br/>
        concretos para que juntos, cambiemos la realidad que los rodea.<br/>
        </h4>
        <h4 class="md-title">
            Proyectos externos. (Voluntariado)<br/>
            Armado y producci&oacute;n integral de proyectos. Medici&oacute;n de impacto.<br/>
            Generaci&oacute;n de triple impacto: Social, medio ambiental y econ&oacute;mico.<br/>
            El proyecto es transformador para el mundo, porque generamos valor donde m&aacute;s se<br/>
            lo necesita y para la compa&ntilde;&iacute;a, porque con el cumplimiento del proyecto se<br/>
            consolidan los valores del trabajo en equipo y se integran desde un nuevo lugar. Se<br/>
            generan liderazgos positivos y se promueve el desarrollo de pontencial.<br/>
            Contamos con una metodolog&iacute;a de trabajo &aacute;gil y eficiente que nos posibilita no<br/>
            perder el objetico y optimizar los recursos para que el esfuerzo solidario sea<br/>
            aprovechado para el beneficio de la comunidad/de las personas.<br/><br/>
            
            Estos son los pasos para realizar Proyectos Sociales de impacto -LLAVE EN MANO-
        </h4> 
    </div>
    
    <div  layout="row" layout-xs="column" layout-align="center center" layout-wrap>
        <div ng-repeat="p in ctrl.externos track by $index" flex="33" flex-xs="75">
            <md-card>
                <div style="background-color: {{p.color}}">
                    <img ng-src="{{p.img}}" class="md-card-image" alt="{{p.titulo}}" style="width: 100px; display:block; margin-left: auto;margin-right: auto;width: 50%;">
                </div>
                <md-card-title>
              <md-card-title-text>
                <span class="md-headline" style="text-align: center;">{{$index+1}}. {{p.titulo}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p style="height: 50px;" hide-xs>
                {{p.texto}}
              </p>
              <p hide show-xs>
                {{p.texto}}
              </p>
             
            </md-card-content>
           
            </md-card>
            
        </div>
    </div>
    <bannerempresas></bannerempresas>
    
</md-content>
    

