<div ng-init="mostrarGaleria=false;mostrarFotos=false;">
<!-- ACA SE CARGA LA GALERIA-->
<md-button ng-click="mostrarGaleria = mostrarGaleria === false ? true: false;" class="md-warn">CARGA DE TIMELINE</md-button>
<md-button ng-click="mostrarFotos = mostrarFotos === false ? true: false;" class="md-warn">CARGA DE FOTOS DE LA GALERIA</md-button>
</div>
<section>
    <div ng-show="mostrarGaleria">
        <div layout="column" layout-align="center center">
            <div>
                <h3 class="md-display-1"> CARGAR "TIMELINE"</h3>
            </div>
            <div>
                <md-input-container>
                    <label>T&iacute;tulo del timeline</label>
                    <input ng-model="timeline.titulo">
                </md-input-container>
            </div>
            <div>  
                <md-input-container>
                    <label>Texto del timeline</label>
                    <input ng-model="timeline.texto" >
                </md-input-container>
            </div>
            <div>  
                <md-input-container>
                    <label>Galer&iacute;a: poner un nombre a la galeria donde se van a mostrar las fotos</label>
                    <input ng-model="timeline.galeria">
                </md-input-container>
            </div>  
            <div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Class</label>
                    <md-select ng-model="timeline.class">
                      <md-option value="container left">Izquierda</md-option>
                      <md-option value="container right">Derecha</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>

                <md-input-container>
                    <label>Fecha en este formato: aaaa-mm-dd</label>
                    <input ng-model="timeline.fecha">
                </md-input-container>
            </div>
            <div>
                <upload-icon dirimg="../../../img/timeline/fotos/" titulo="Timeline" direccion="../../../img/timeline/fotos/"></upload-icon>
            </div>
            <div>
                <md-button class="md-warn" ng-click="ctrl.copiarUrl();">Copiar Url de la foto</md-button>
            </div>    
            <div>    
                <md-input-container>
                    <label>Pegar direcci&oacute;n de foto principal</label>
                    <input ng-model="timeline.img">
                </md-input-container>
            </div>
            <div>
                <md-button class="md-warn" ng-click="ctrl.insertSF({'titulo':timeline.titulo,'texto':timeline.texto,'galeria':timeline.galeria,'class':timeline.class,'img':timeline.img,'fecha':timeline.fecha},'timeline');">CARGAR GALERIA</md-button>
            </div>
        </div>
    </div>
</section>
<section ng-show="mostrarFotos">
    <div>

        <p>1) Primero cargar la foto</p>
        <p>2) Luego completar galeria y texto</p>
        <p>3) Hacer clic en EDITAR </p>
        <p>4) Subir la siguente foto, y si queres dejar el mismo texto, solo hac&eacute; clic en Editar</p>

        <div layout="column">
            <md-input-container>
              <label>GALERIA</label>
              <input ng-model="foto.galeria">
            </md-input-container>

            <md-input-container>
              <label>TEXTO</label>
              <input ng-model="foto.alt">
            </md-input-container>
            <div>
                <upload-icon dirimg="../../../img/timeline/fotos/" titulo="Timeline" direccion="../../../img/timeline/fotos/"></upload-icon>
            </div>
            <br/><br/>
            <div>
                <md-button class="md-warn" ng-click="ctrl.EditImg({'galeria':foto.galeria,'alt':foto.alt});">EDITAR</md-button>
            </div>
        </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    </div>
</section>    