<div style="background-color:#2f2f2f; width: 100%; height: auto;">
    <div  layout="row" layout-xs="column" layout-align="space-between center">
        <div style="padding: 2%;">
            <img src="img/footer/logo.png"  title="desdetulugar" alt="desdetulugar" />
            <img src="img/footer/desdetulugar.png"  title="desdetulugar" alt="desdetulugar" />
        </div>
        <div style="padding: 2%;">
            <a href="http://facebook.com/desdetulugar" style="text-decoration: none"><img src="img/footer/facebook.png"  title="facebook/desdetulugar" alt="facebook/desdetulugar" /></a>
            <a href="http://twitter.com/desdetulugar" style="text-decoration: none"><img src="img/footer/twitter.png"  title="twitter/desdetulugar" alt="twitter/desdetulugar" /></a>
            <a href="http://instagram.com/desdetuliugar" style="text-decoration: none"><img src="img/footer/instagram.png"  title="instagram/desdetulugar" alt="instagram/desdetulugar" /></a>
        </div>
    </div>
    <div style="padding: 2%;">
       <img src="img/footer/Allrights.png"  title="desdetulugar" alt="desdetulugar" /> 
    </div>
</div>    